# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/

# Production
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem

# Test coverage
coverage/

# IDE specific files
.vscode/
.idea/

# Parcel cache
.cache/

# Sentry
.sentryclirc

# Storybook
out/
storybook-static/

# eslint cache
.eslintcache

# react native
.expo/
web-build/
